/* dosis-500 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-500.woff')
      format('woff'),
    /* Modern Browsers */
      url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-500.svg#Dosis')
      format('svg'); /* Legacy iOS */
}
/* dosis-800 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-800.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-800.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-800.woff')
      format('woff'),
    /* Modern Browsers */
      url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./Fonts/dosis-v19-vietnamese_latin-ext_latin-800.svg#Dosis')
      format('svg'); /* Legacy iOS */
}
/* ubuntu-mono-regular - latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./Fonts/ubuntu-mono-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./Fonts/ubuntu-mono-v10-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./Fonts/ubuntu-mono-v10-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./Fonts/ubuntu-mono-v10-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./Fonts/ubuntu-mono-v10-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./Fonts/ubuntu-mono-v10-latin-regular.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}

$root-width: min(100% - 20px, 1000px);
$tile-padding: clamp(15px, 4.4%, 30px);
$tile-background: rgba(0, 0, 0, 0.6);
$secondary-color: rgb(160, 160, 160);
$hourly-gap: 10px;
$five-hour-width: calc(100% / 5 - $hourly-gap * (4 / 5));
$six-hour-width: calc(100% / 6 - $hourly-gap * (5 / 6));
$seven-hour-width: calc(100% / 7 - $hourly-gap * (6 / 7));

html {
  font-family: 'Dosis';
  color: white;
  width: 100%;
  height: 100%;
  // background-image: url(./Backgrounds/02d.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  &.locked {
    overflow: hidden;
  }
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('./Backgrounds/02d.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  display: grid;
  grid-template:
    'a' auto
    'b' auto
    'c' auto / 100%;
  gap: 10px;
  width: $root-width;
  margin: auto;
  padding: 10px;
  @media screen and (min-width: 650px) {
    grid-template:
      'a a' auto
      'b c' auto / 1fr 1fr;
  }
}

.modal {
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  transition: opacity 400ms;

  &.open {
    opacity: 1;

    .modal-content {
      transform: translateY(0);
    }
  }
}

.modal-content {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: min(100% - 20px, 500px);
  border-radius: 10px;
  padding: 40px 40px 80px 40px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  transform: translateY(-200%);
  transition: transform 400ms;

  &::before {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
    font-size: 14px;
    color: rgb(220, 0, 0);
    text-align: center;
    content: '';
  }
}

.inputs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.city-input,
.country-input,
.state-input {
  font-family: 'Dosis';
}

.close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background: transparent;

  &:hover {
    cursor: pointer;
  }

  img {
    display: block;
  }
}

.search-btn {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 5px;
  padding: 6px 30px;
  color: rgb(55, 55, 55);
  font-family: 'Dosis';
  font-size: 14px;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  &:active {
    background: rgba(255, 255, 255, 0.4);
  }
}

.control-panel {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  button {
    font-family: 'Dosis';
    font-size: 12px;
    color: $secondary-color;
    background: transparent;
    border: none;

    &.in-use {
      color: white;
    }

    // prevent sticky hover on mobile
    @media (hover: hover) and (pointer: fine) {
      &:hover:not(.in-use) {
        cursor: pointer;
        color: rgb(205, 205, 205);
      }
    }

    &:active:not(.in-use) {
      color: $secondary-color;
    }
  }
}

.unit-btns {
  display: flex;
}

.standard-btn {
  border-right: 1px solid $secondary-color !important;
}

.tile {
  box-sizing: border-box;
  width: 100%;
  padding: $tile-padding;
  background: $tile-background;
  border-radius: 10px;
  backdrop-filter: blur(10px);

  &:nth-child(1) {
    grid-area: a;
  }
}

.locale {
  text-align: center;
}

.place-name {
  margin: 0;
  font-size: min(6vw, 48px);
}

.date-and-time {
  font-size: clamp(14px, 3.8vw, 18px);
  color: $secondary-color;
}

.current {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .icon {
    width: min(35%, 300px);
  }

  .info {
    display: flex;
    align-items: center;
  }

  .temperature {
    margin: 0 10px;
    font-size: clamp(36px, 10vw, 100px);
    font-weight: 500;
  }

  .hi-lo-feel {
    margin: 0 10px;
    font-size: min(100vw / 20, 24px);
    font-weight: 500;
    color: $secondary-color;
  }
}

.hourly {
  display: flex;
  gap: $hourly-gap;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.daily {
  margin: -8px 0; // tweak for visuals
}

.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: $five-hour-width;
  @media screen and (min-width: 550px) {
    min-width: $six-hour-width;
  }
  @media screen and (min-width: 750px) {
    min-width: $seven-hour-width;
  }

  .time {
    font-size: clamp(14px, 3.8vw, 18px);
    font-weight: 500;
    color: $secondary-color;
  }

  .icon {
    width: 100%;
  }

  .temperature {
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 800;
  }
}

.day {
  display: grid;
  grid-template: 1fr / 1fr 100px 1fr;
  align-items: center;
  margin: -4px 0; // tweak for visuals
  width: 100%;

  .name {
    text-align: left;
  }

  .weather {
    display: flex;
    justify-content: flex-end;

    .icon {
      width: 50px;
    }
  }

  .hi-lo {
    text-align: right;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
  }
}

.precipitation {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    margin: 0 -6%;
  }

  div {
    font-size: 14px;
    font-weight: 500;
    color: $secondary-color;
  }
}

.auxiliary {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.aux-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .icon {
    width: 40px;
  }

  .name {
    margin-left: 10px;
    color: $secondary-color;
  }

  .readout {
    margin-left: auto;
    display: flex;

    img {
      // wind arrow
      width: 15px;
      margin-right: 5px;
    }
  }
}
