/* dosis-200 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: url('./Fonts/dosis-v19-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./Fonts/dosis-v19-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./Fonts/dosis-v19-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./Fonts/dosis-v19-latin-200.woff')
      format('woff'),
    /* Modern Browsers */ url('./Fonts/dosis-v19-latin-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./Fonts/dosis-v19-latin-200.svg#Dosis')
      format('svg'); /* Legacy iOS */
}
/* dosis-500 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url('./Fonts/dosis-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./Fonts/dosis-v19-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./Fonts/dosis-v19-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./Fonts/dosis-v19-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('./Fonts/dosis-v19-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./Fonts/dosis-v19-latin-500.svg#Dosis')
      format('svg'); /* Legacy iOS */
}
/* dosis-800 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: url('./Fonts/dosis-v19-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./Fonts/dosis-v19-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./Fonts/dosis-v19-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./Fonts/dosis-v19-latin-800.woff')
      format('woff'),
    /* Modern Browsers */ url('./Fonts/dosis-v19-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./Fonts/dosis-v19-latin-800.svg#Dosis')
      format('svg'); /* Legacy iOS */
}

$tile-padding: min(4.4%, 30px);
$tile-background: rgba(0, 0, 0, 0.5);
$tile-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
$secondary-color: rgba(150, 150, 150);
$hourly-gap: 10px;
$five-hour-width: calc(100% / 5 - $hourly-gap * (4 / 5));
$six-hour-width: calc(100% / 6 - $hourly-gap * (5 / 6));
$seven-hour-width: calc(100% / 7 - $hourly-gap * (6 / 7));

html {
  font-family: 'Dosis';
  color: white;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: min(100% - 20px, 1000px);
  margin: 10px auto;
}

.main {
  box-sizing: border-box;
  width: 100%;
  padding: $tile-padding;
  background: $tile-background;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  // box-shadow: #{$tile-shadow};
}

.header {
  text-align: center;
}

.place-name {
  margin: 0;
  font-size: min(6vw, 48px);
}

.date-and-time {
  font-size: clamp(14px, 3.8vw, 18px);
  color: $secondary-color;
}

.current {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .icon {
    width: min(35%, 300px);
  }

  .info {
    display: flex;
    align-items: center;
  }

  .temperature {
    margin: 0 10px;
    font-size: clamp(36px, 10vw, 100px);
    font-weight: 500;
  }

  .hi-lo-feel {
    margin: 0 10px;
    font-size: min(100vw / 20, 24px);
    font-weight: 500;
    color: $secondary-color;
  }
}

.hourly {
  // box-sizing: border-box
  display: flex;
  gap: $hourly-gap;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: $five-hour-width;
  @media screen and (min-width: 550px) {
    min-width: $six-hour-width;
  }
  @media screen and (min-width: 750px) {
    min-width: $seven-hour-width;
    // ^ use media queries to adjust this ^
  }

  .time {
    font-size: clamp(14px, 3.8vw, 18px);
    font-weight: 500;
    color: $secondary-color;
  }

  .icon {
    width: 100%;
  }

  .temperature {
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 800;
  }

  .precipitation {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      margin: 0 -6%;
    }

    div {
      font-size: 14px;
      font-weight: 500;
      color: $secondary-color;
    }
  }
}
